<div class="schedule">
    <header>
        <h1><a href="#">Ferry Tracker</a></h1>
        <p>This simple website shows today's BC Ferries sailings.</p>
        <h5>Current Schedule</h5>
    </header>
    {{#each routes}}
    <div class="route" id="{{routeName}}">
        <h3 class="routeName">{{routeName}} </h3>
        <div class="panel">
            <h6 class="sailingTime">Sailing Time: {{sailingTime}}</h6>
            <div class="sailings">
                <div class="sailing heading">
                    <h5 class="scheduledDeparture">Departure</h5>
                    {{!--
                    <div class="actualDeparture heading">Actual</div>--}}
                    <h5 class="arrivalTime">Arrival</h5>
                    {{!--
                    <div class="status heading">Status</div>--}}
                </div>
                {{#each schedule}}
                <div class="sailing">
                    <div class="scheduledDeparture">{{scheduledDeparture}}</div>
                    {{!--
                    <div class="actualDeparture">{{actualDeparture}}</div>--}}
                    <div class="arrivalTime">{{arrivalTime}}</div>
                    {{!--
                    <div class="status">{{status}}</div>--}} {{!--
                    <div class="vessel">{{vessel}}</div>--}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
    <footer>
        <p>Designed and built by <a href="https://www.twitter.com/deansallinen" id="twitter">@deansallinen</a> using Node.js</p>
    </footer>
</div>
