---
layout: default
pagination:
    addAllPagesToCollections: true
    data: sailings
    size: 1
    alias: route
permalink: "r/{{ route.route_name | slug }}/"
tags: route
---
	<div class="mb-4 md:mb-8 text-white antialiased">
		<div class="mb-2">
			<h1 class="leading-none">{{ route.route_name }}</h1>
		</div>
	</div>

<div className="flex md:flex-row-reverse flex-wrap">
  <aside className="w-full md:w-1/4 md:pl-4">
    <div class="mt-4 md:mt-0 mb-8 flex flex-col">
      <div>
        <h2 class="mb-4 text-xl font-semibold text-white antialiased  md:block ">
          Route Info
        </h2>
        <div class="bg-blue-700 p-4 rounded-lg mt-4 flex md:flex-col justify-between mb-4 text-white antialiased">
          {{ route.average_sailing }} 
        </div>
      </div>
      {% comment %} <Favourite routeName={props.route_name} /> {% endcomment %}
    </div>
  </aside>
  <section className="w-full md:w-3/4 md:pr-4">
    <div class="">
      <div class="flex justify-between items-baseline">
        <h2 class="mb-4 text-xl font-semibold text-white antialiased ">
          Sailings
        </h2>
        <button
            class="hover:bg-blue-dark text-xs text-white antialiased rounded px-2 py-2"
            onClick={toggleShowCompleted}
            >
            Hide completed
        </button>
          <button
            class="hover:bg-blue-dark text-xs text-white antialiased rounded px-2 py-2"
            onClick={toggleShowCompleted}
            >
            Show completed
          </button>
      </div>
      <div class="">
        {%- for sailing in route.sailings -%}
          <div class="flex mb-4 bg-white rounded-lg py-4 px-4 shadow">
            <div class="w-10 md:w-24">
              <div class="text-xl md:text-3xl font-bold bg-white rounded-lg md:pl-2">
                {{sailing[1]["scheduled_departure"] | formatTime}}
              </div>
            </div>

            <div class="flex-1 ml-4 pl-4 leading-normal">
              <div class="float-right">
                {{sailing[1]["sailing_status"]}}
              </div>
              <div class="text-xs">
                {% comment %} <span class="font-bold">{percent_full}</span>% full {% endcomment %}
              </div>
              <div class="text-xs">
                {{sailing[1]["vessel"]}}
              </div>
              <div class="">
                <div class="text-xs">
                  {{sailing[1]["actual_departure"] | formatTime}} 
                  {{sailing[1]["eta"] | formatTime}}
                </div>
              </div>
            </div>
          </div>

        {%- endfor -%}

      </div>
    </div>

  </section>
</div>


